.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wrapper i{
    color: var(--primary-color);
}

.wrapper i:hover{
    color: var(--nav-bg);
}

/* .course-list{
    background-color: white;
    height: 160px;
    width: 200px;
    margin: 2em 3em;
    border-radius: 0.5em;
    box-shadow:  0 0 10px 0 rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    cursor: pointer;
    justify-content: center;
} */

.course-list span{
    color: var(--section-text);
    font-size: large;
    text-align: center;
    font-weight: 600;
}

.course-page{
    margin-bottom: 0;
    margin-left: 6em;
}

.flip-card{
    height: 210px;
    width: 250px;
    margin: 2em 3em;
    /* border: 1px solid red; */
    perspective: 1000px;
    /* padding: 1.5em; */
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}




.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1.5em; */
    cursor: pointer;
    justify-content: center;
    border-radius: 0.5em;
    background-color: white;
    box-shadow:  0 0 10px 0 rgb(0 0 0 / 18%);

}

.flip-card-back{
    transform: rotateY(180deg);
    background: var(--primary-color);
}

.flip-card-back i{
    color: white;
}

.flip-card-back span{
    /* color: var(--section-text); */
    color: white;
    font-size: large;
    text-align: center;
    font-weight: 600;
}


.batch-info{
    text-align: center;
    margin-top: 1em;
}

.batch-info i:hover{
    color: yellow;
}


.timings{
    color: white;
    font-weight: bolder;
    margin: 1em 0.2em;
    margin-top: 0;
}
.note{
    text-align: center;
    margin: auto;
    font-style: italic;
    font-size: 1.3em;
} 


.footer{
    margin-top: 2em;
}




