.downld{
    height: auto;
    flex-direction: column;
}
.downloads{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    border: 4px solid var(--section-text);
    padding: 1em;
    border-radius: 0.5em;
    width: 62%;
    height: auto;
}

.content span{
    margin: 0 2em 0 0.5em;
    /* color: var(--section-text); */
    font-size: x-large;
    font-weight: bolder;
}
.file{
    /* color: var(--section-text); */
    color: white;
    text-decoration: none;
    font-size: larger;
    background-color: var(--primary-color);
    padding: 0.8em 1.5em;
    border-radius: 0.5em;
    font-weight: bold;
    transition: 0.5s;
}

.file:hover{
    box-shadow:  0 0 15px 0 rgb(0 0 0 / 20%);
    background-color: white;
    color: var(--section-text);
    font-weight: bolder;
}


.download-icon{
    width: 35px;
    height: 35px;
}

@media only screen and (max-width: 768px){
    .content{
        flex-direction: column;
    }
    .content span{
        margin: 0.5em 2em 1em 2em;
        text-align: center;
    }
}