.result{
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}

.selection-bar{
    display: flex;
    margin-left: 1em;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.bar-pills{
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'Martel Sans', sans-serif;
    cursor: pointer;
    position: relative;
    padding: 0.3em;
    margin: 1em;
    border-radius: 0.1em;
}
.bar-pills hr{
    position: absolute;
    width: 99%;
    left: 0px;
    top: 38px;
    height: 7px;
}

.bar-pills:hover, .hover{
    background-color: var(--nav-bg);
    color: white;
    font-weight: 500;
}

#board > hr{
    background-color: var(--primary-color);
}



.slider-adv, .slider-main{
    display: none;
}
.people{
    width: 120px;
    height: auto;
    box-shadow:  0 0 15px 0 rgb(0 0 0 / 50%);
    border-radius: 0;
    background-color: #ececec;
    justify-content: center;

}

.result-page{
    background-color: white;
    box-shadow:  0 0 15px 0 rgb(0 0 0 / 25%);
    height: auto;
    width: 50%;
    padding: 1em;
    justify-content: center;
    border-radius: 0.5em;

}

.result-page> span{
    font-size: 1.8em;
    color: var(--section-text);
}



.people-pic{
    width: 80px;
    height: 80px;
}

.slider-main, .slider-adv, .slider-board{
    border: 2px solid var(--gray-background);
    padding: 2em;
}

.sec-photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}