.result{
    flex-direction: column;
    justify-content: space-around;
    /* height: auto; */
}

.selection-bar{
    display: flex;
    margin-left: 1em;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.bar-pills{
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'Martel Sans', sans-serif;
    cursor: pointer;
    position: relative;
    padding: 0.3em;
    margin: 1em;
    border-radius: 0.1em;
}
.bar-pills hr{
    position: absolute;
    width: 99%;
    left: 0px;
    top: 38px;
    height: 7px;
}

.bar-pills:hover, .hover{
    background-color: var(--nav-bg);
    color: white;
    font-weight: 500;
}

#board > hr{
    background-color: var(--primary-color);
}



.slider-adv, .slider-main{
    display: none;
}
.people{
    height: 240px;
    width: 210px;
    margin: 2em 1em;
    box-shadow:  0 0 15px 0 rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px){
    .people{
        width: 100%;
    }
}

/* .result-page{
    background-color: var(--primary-color);
    box-shadow:  0 0 15px 0 rgb(0 0 0 / 40%);
    height: auto;
    width: 60%;
    padding: 1em;
    justify-content: center;
    border-radius: 0.5em;

} */




.people-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #6a8ae4;
}


.marks{
    background-color: var(--primary-color);
    color: white;
    border-radius: 1em;
    padding: 0.5em 2em;
    margin: 0.5em;
    text-align: center;
}

.name{
    text-align: center;
    color: var(--section-text);
}

.name span{
    font-size: larger;
}
.name small{
    font-weight: 500;
    /* color: black; */
}

.slider-board{
    display: flex;
}


.slider-main, .slider-adv, .slider-board{
    border-top: 2px solid var(--section-text);
    justify-content: center;
    flex-wrap: wrap;
    background-color:#f9f9f9;
}

.sec-photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}