.result{
    flex-direction: column;
    justify-content: space-around;
}

.selection-bar{
    display: flex;
    margin-left: 1em;
}

.bar-pills{
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    /* border: 2px solid red; */
    padding: 0.4em;
    margin: 0 1em;
}
.bar-pills hr{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 35px;
    height: 5px;
}


.bar-pills:hover{
    background-color: var(--nav-bg);
    color: white;
    font-weight: 500;
}



.slider-adv, .slider-main{
    display: none;
}

.result-page{
    box-shadow:  0 0 15px 0 rgb(0 0 0 / 25%);
}

.slider-main, .slider-adv, .slider-board{
    border: 2px solid var(--gray-background);
    padding: 2em;
}