  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&display=swap');
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--gray-background);
}

:root {

    --primary-color: #393185;
    --gray-background: #ececec;
    --section-text: #8d778d;
    --nav-bg: #212220;
}

/* branding header */
.branding{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact{
    display: flex;
    /* margin: 1em; */
    margin-right: 5em;
    padding: 2em;
    /* flex: 1; */
}

.brand{
    display: flex;
    align-items: center;
    margin-left: 5em;
}
.brand div{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
    color: var(--primary-color);
    /* background-color: rgb(168, 168, 168); */
    /* height: 55px;
    border-radius: 0.2em;
    padding: 0.2em; */

}


.phone, .email{
    display: flex;
    position: relative;
    padding: 0 0.8em;
    /* border: 5px solid red; */
    /* justify-content: space-between; */
}
.nav-text{
    display: flex;
    flex-direction: column;
}

.nav-text h3{
    color: var(--primary-color);
    margin-top: 1em;
    margin-bottom: 0.5em;

}

.logo{
    width: 120px;
    height: 120px;
    margin-right: 0.5em;
}

.icons{
    width: 40px;
    height: 40px;
    margin: 1em;
    margin-top: 1.7em;

}
.vl{
    border-left: 1px solid black;
    height: 55px;
    position: absolute;
    left: 70px;
    top: 18px;
    margin: 0 0.3em;
}

/* nav bar */


.nav-bar{
    background-color: var(--nav-bg);
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.non-bullet{
    list-style: none;
    text-align: center;
}

.list-inline{
    display: inline;
    padding: 0em 1.5em;
}

.link{
    text-decoration: none;
    color: white;
}
 /* slider */


 /* .slider{
    width: 100%;
 } */

 .mySlides{
    height: 400px;
 }
 .carousel-cell{
     margin: 0 1em;
 }



/* about section */

.section-white{
    display: flex;
    background-color: white;
    width: 80%;
    height: 400px;
    margin: 3em auto;
    justify-content: space-between;
    flex: 1;
    border-radius: 0.5em;
    /* box-shadow:  0 0 20px 0 rgb(0 0 0 / 20%); */

}

.about-text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2em;

}
.about-text h2{
    margin-left: 0.5em;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: black;
    font-family: 'Martel Sans', sans-serif;
}
.about-text p{
    color: var(--section-text);
}

.vl-blue{
    border-left: 5px solid var(--primary-color);
    height: 38px;
    position: absolute;
    margin: 0 0.3em;
    top: 15px;
    left: 1px;
}

.primary-link{
    background-color: black;
    width: 110px;
    text-decoration: none;
    color: white;
    border-radius:  1em;
    padding: 1em;
    text-align: center;
}

.primary-link:hover{
    box-shadow:  0 0 16px 0 rgb(0 0 0 / 30%);
    background-color: var(--primary-color);
}

.about-courses{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto auto;
    margin: 2em;
}

.about-courses:hover{
    box-shadow:  0 0 15px 0 rgb(0 0 0 / 45%);
    grid-template-columns: 200px 201px;
}

.course-icons{
    width: 80px;
    height: 80px;
    margin-bottom: 2em;
}
.blue-div{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;

}
.black-div{
    cursor: pointer;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

/* results section */

.results{
    background-color: var(--primary-color);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.result-text{
    position: relative;
    margin-left: 7em;
    margin-top: 0.5em;
}

.vl-black{
    border-left: 5px solid black;
    height: 45px;
    position: absolute;
    top: 43px;
    left: 8px;
}
.result-text h2{
    margin-left: 0.5em;
    font-size: 40px;
    color: white;
    margin-bottom: 0.2em;
    font-family: 'Martel Sans', sans-serif;
}


.people{
    background-color: var(--gray-background);
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    margin: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow:  0 0 20px 0 rgb(0 0 0 / 90%);
}
.people hr{
    background-color: black;
    width: 80%;
    height: 1.5px;
}

.people-pic{
    height: 140px;
    width: 140px;
}


/* testimonials */
.testimonials{
    flex-direction: column;
    justify-content: flex-start;
    height: 510px;
    /* display: contents; */
}

.test{
    margin-bottom: 0;
}

/* footer */

.footer{
    background-color: black;
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.footer-desc{
    display: flex;
    justify-content: center;
}

.footer-about{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 3em 3em 0 3em;
    width: 400px;
}

.copyright{
    color: white;
    background-color: #1d1d1d;
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.footer-logo{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 28px;
}

.address-info{
    color: white;
    margin: 3em 0 0 0;
    width: 400px;

}


.contact-info{
    color: white;
    margin: 3em 3em 0 3em;
}


