  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&display=swap');
body {
    overflow-x: hidden !important;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--gray-background);
}

:root {

    /* --primary-color: #393185; */
    --primary-color: #1D4ED8;
    /* --gray-background: #ececec; */
    --gray-background: white;
    /* --section-text: #8d778d; */
    --section-text: #0c1a46;
    --nav-bg: #212220;

}



/* branding header */
.branding{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact{
    display: flex;
    /* margin: 1em; */
    margin-right: 5em;
    padding: 2em;
    /* flex: 1; */
}

.brand{
    display: flex;
    align-items: center;
    margin-left: 5em;
}
.brand div{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
    color: var(--primary-color);
    /* background-color: rgb(168, 168, 168); */
    /* height: 55px;
    border-radius: 0.2em;
    padding: 0.2em; */

}


.phone, .email{
    display: flex;
    position: relative;
    padding: 0 0.8em;
    /* border: 5px solid red; */
    /* justify-content: space-between; */
}
.nav-text{
    display: flex;
    flex-direction: column;
}

.nav-text h3{
    color: var(--primary-color);
    margin-top: 1em;
    margin-bottom: 0.5em;

}

.logo{
    width: 100px;
    height: 100px;
    margin-right: 0.5em;
}

.icons{
    width: 40px;
    height: 40px;
    margin: 1em;
    margin-top: 1.7em;

}
.vl{
    border-left: 1px solid black;
    height: 55px;
    position: absolute;
    left: 70px;
    top: 18px;
    margin: 0 0.3em;
}

@media only screen and (max-width: 768px){
    .email{
        display: none;
    }
    .contact{
        margin-right: 0;
        padding: 2em 0;
    }
    .brand div{
        font-size: 18px;
        text-align: center;
    }

    .phone{
        padding: 0 1.2em;
    }
    .brand{
        padding: 2em 0;
        margin-left: 0;
        flex-direction: column;
    }
    .branding{
        justify-content: center;
    }
    .icons{
        height: 30px;
        width: 30px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .contact{
        margin-right: 0;
        padding: 2em 0;
    }
}

/* nav bar */


.nav-bar{
    background-color: var(--primary-color);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow:  0 0 15px 0 rgb(0 0 0 / 50%);
}

.sticky + .index-wrapper{
    /* margin-top: 207px; */
    padding-top: 100px;
}
.non-bullet{
    list-style: none;
    text-align: center;
}

.list-inline{
    display: inline;
    /* padding: 0em 1.5em; */
}

.link{
    text-decoration: none;
    color: white;
    padding: 0 1.5em;
    margin: 0.5em;
}

.link:hover, .link-active{
    /* background-color: #212220; */
    /* padding: 1.3em 1.5em; */
    font-weight: bolder;
}

/* hamburger */

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    .nav-bar{
        position: relative;
    }
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 2.7rem;
        flex-direction: column;
        background-color: var(--nav-bg);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        align-items: center;
        z-index: 2;
        padding: 0;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-items {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



 /* slider */


 .slider{
    margin-bottom: 3em;
}

 .mySlides{
    height: 70vh;
    width: 95vw;

 }
 .carousel-cell{
    margin: 0 1em;
    /* display: none; */
 }

 @media only screen and (max-width: 768px){
     .mySlides{
        height: 40vh;
        width: 100vw;
     }
 }


/* about section */

.section-white{
    display: flex;
    background-color: white;
    width: 80%;
    height: auto;
    margin: 3em auto;
    justify-content: space-between;
    flex: 1;
    border-radius: 0.5em;
    box-shadow:  0 0 15px 0 rgb(0 0 0 / 20%);
}

.index{
    margin: 5em auto;
}

.about-text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2em;

}
.about-text h2{
    margin-left: 0.5em;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    color: black;
    font-family: 'Martel Sans', sans-serif;
}
.about-text p{
    color: #0c1a46;
    letter-spacing: 1.5px;
    font-size: larger;
    /* text-align: justify; */
    word-spacing: 0.6em;
}

.vl-blue{
    border-left: 5px solid var(--primary-color);
    height: 38px;
    position: absolute;
    margin: 0 0.3em;
    top: 15px;
    left: 1px;
}

.primary-link{
    background-color: #212220;
    width: 110px;
    text-decoration: none;
    color: white;
    border-radius:  1em;
    padding: 1em;
    text-align: center;
}

.primary-link:hover{
    box-shadow:  0 0 16px 0 rgb(0 0 0 / 30%);
    background-color: var(--primary-color);
}

.about-courses{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto auto;
    margin: 2em;
}

.about-courses:hover{
    box-shadow:  0 0 15px 0 rgb(0 0 0 / 45%);
}

.course-icons{
    width: 80px;
    height: 80px;
    margin-bottom: 2em;
}
.blue-div{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;

}
.black-div{
    cursor: pointer;
    background-color: #212220;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

@media only screen and (max-width: 768px){
    .section-white{
        flex-direction: column;
        height: auto;
        width: 90%;
        justify-content: flex-start;
        box-shadow:  0 0 15px 0 rgb(0 0 0 / 15%);

    }
    .about-courses{
        display: flex;
        flex-direction: column;
    }
    .about-courses span{
        margin-bottom: 1em;
    }
    .course-icons{
        margin: 1em 0;
    }

    .blue-div,.black-div{
        width: 100%;
    }
    .about-courses div:nth-child(3){
        background-color: var(--primary-color);
    }
    .about-courses div:nth-child(4){
        background-color: #212220;
    }
}



/* results section */

.results{
    background-color: var(--primary-color);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.result-text{
    position: relative;
    margin-left: 7em;
    margin-top: 0;
}

.vl-black{
    border-left: 5px solid black;
    height: 45px;
    position: absolute;
    top: 43px;
    left: 8px;
}
.result-text h2{
    margin-left: 0.5em;
    font-size: 40px;
    color: white;
    margin-bottom: 0.2em;
    font-family: 'Martel Sans', sans-serif;
}


.people{
    background-color: var(--gray-background);
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 220px;
    align-items: center;
    justify-content: center;
    margin: 1em;
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow:  0 0 16px 0 rgb(0 0 0 / 80%);
}

.people-pic{
    height: 100px;
    width: 100px;
}

@media only screen and (max-width: 768px){
    .result-text{
        margin-left: 2em;
    }
    .result-text h2{
        font-size: 34px;
    }
    .result-text .vl-black{
        top: 38px;
        height: 36px;
    }
}


/* testimonials */
.testimonials{
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
}

.test{
    margin-bottom: 1.5em;
}

@media only screen and (max-width: 768px){
    .about-text h2{
        font-size: 30px;
    }


    .about-text .vl-blue{
        top: 7px;
        height: 35px;
    }
}

/* footer */

.footer{
    background-color: #111111;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.footer-desc{
    display: flex;
    justify-content: center;
}

.footer-about{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 3em 3em 0 3em;
    width: 70%;
    flex: 1;
}

.copyright{
    color: white;
    background-color: #1d1d1d;
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.footer-logo{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 28px;
}

.address-info{
    color: white;
    margin: 3em 0 0 0;
    flex: 1;

}


.contact-info{
    color: white;
    margin: 3em 3em 0 3em;
    flex: 1;
}

@media only screen and (max-width: 938px){
    .footer-desc{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .address-info{
        width: 72%;
    }

    .address-info, .contact-info{
        text-align: center;
    }
    .logo{
        width: 60px;
        height: 60px;
    }

    .footer-about{
        margin: 3em 0 0 0;
    }

    .footer-logo{
        font-size: 20px;
        margin: auto;
    }
}


