body {
    margin: 0px;
}

:root {

    --primary-color: #393185;
}

/* branding header */
.branding{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact{
    display: flex;
    /* margin: 1em; */
    margin-right: 5em;
    padding: 2em;
    /* flex: 1; */
}

.brand{
    display: flex;
    align-items: center;
    margin-left: 5em;
}
.brand div{
    margin: 0;
    padding: 0;
}

.phone, .email{
    display: flex;
    /* border: 5px solid red; */
    /* justify-content: space-between; */
}
.nav-text{
    display: flex;
    flex-direction: column;
}

.nav-text h3{
    color: var(--primary-color);
    margin-top: 1em;
    margin-bottom: 0.5em;

}

.logo{
    width: 120px;
    height: 120px;
    margin-right: 0.5em;
}

.icons{
    width: 40px;
    height: 40px;
    margin: 1em;
    margin-top: 1.7em;

}

/* nav bar */


.nav-bar{
    background-color: black;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.non-bullet{
    list-style: none;
    text-align: center;
}

.list-inline{
    display: inline;
    padding: 0em 1.5em;
}

.link{
    text-decoration: none;
    color: white;
}